input {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  padding-left: 10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  align-items: center;
  justify-content: center;
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
}
