.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
<<<<<<< Updated upstream
  height: 80%;
  padding: 0 15%;
=======
  height: 90%;
  padding: 1% 5%;
>>>>>>> Stashed changes
}

span:hover {
  color: #f03635
}